mat-toolbar {
  color: white;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: transparent; /* Transparent background */
  position: relative; /* To ensure the image is layered properly */
}

mat-toolbar::before {
  content: ""; /* Pseudo-element for background image */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/flag.jpg'); /* Replace with your image URL */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center center; /* Adjust image positioning */
  background-repeat: no-repeat; /* Prevent repeating of background image */
  opacity: 0.3; /* Set the opacity of the background image */
  z-index: -1; /* Ensures the image is in the background */
  image-rendering: pixelated;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Makes sure the logo takes up the full height of the header */
}

.logo img {
  max-height: 80%; /* Ensure the logo fits within the header */
  width: auto; /* Keep the aspect ratio intact */
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  flex: 1 1 auto;
  margin-left: 300px;
  text-align: center; /* Center the text */
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin: 0 10px;
  color: aqua;
}

.custom-login-button {
  background-color: #ff5733;
  color: white;
}

.language-selector {
  margin-left: 20px;
}

@media (max-width: 768px) {
  mat-toolbar {
    flex-direction: column;
    padding: 10px;
  }

  .logo img {
    max-height: 60px; /* Adjust logo size for mobile */
  }

  .logo {
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.2em; /* Adjust the font size for mobile */
  }

  button {
    margin: 5px 0;
  }
}
