<div class="register-background">
  <div class="register-overlay">
    <div *ngIf="showForm" class="register-container" @rotateFade (click)="$event.stopPropagation()">
      <img src="assets/images/emblem.png" alt="Logo" class="login-logo">
      <p class="country-name">The United Republic of Tanzania</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Enter your username" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Enter your password" type="password" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="passwordConfirm" placeholder="Confirm your password" type="password" required>
        </mat-form-field>

        <div class="actions">
          <button mat-raised-button color="primary" class="register-btn">Register</button>
        </div>
      </form>

      <div class="login-link">
        <p>Already have an account? <a routerLink="/login">Login</a></p>
      </div>
    </div>
  </div>
</div>
<button mat-fab color="accent" class="back-button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
<app-footer></app-footer>
