<app-header/>
<div class="container">
  <h2 class="title">Our Services</h2>
  <p class="description">
    Choose a service below to proceed. Select <strong>Report</strong> to notify unusual open space activity, or
    choose <strong>Book</strong> to reserve space for events at Kinondoni Municipal.
  </p>

  <div class="cards-wrapper">
    <mat-card class="card" (click)="goToReport()">
      <div class="icon-wrapper">
        <mat-icon class="card-icon" color="warn">report</mat-icon>
      </div>
      <mat-card-title>Report Open Space Issue</mat-card-title>
      <mat-card-content>
        <p>Help us protect our environment by reporting misuse or illegal activity.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="card" (click)="goToBook()">
      <div class="icon-wrapper">
        <mat-icon class="card-icon" color="primary">event</mat-icon>
      </div>
      <mat-card-title>Book Open Space</mat-card-title>
      <mat-card-content>
        <p>Reserve available open spaces for your events quickly and easily.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
