<app-header></app-header>
<div class="login-background">
  <div class="login-overlay">
    <div class="login-container" (click)="$event.stopPropagation()">
      <img src="assets/images/emblem.png" alt="Logo" class="login-logo">
      <p class="country-name">{{ 'country_name' | translate }}</p> <!-- This will change dynamically -->

      <form [formGroup]="LoginForm" (ngSubmit)="OnSubmit()">
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>{{ 'username' | translate }}</mat-label>
          <input matInput formControlName="username" placeholder="{{ 'username_placeholder' | translate }}" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>{{ 'password' | translate }}</mat-label>
          <input matInput formControlName="password" placeholder="{{ 'password_placeholder' | translate }}" type="password" required>
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" class="login-btn">{{ 'login_button' | translate }}</button>
        </div>
      </form>
      <div class="register-link">
        <p>{{ 'no_account' | translate }} <a href="/register">{{ 'register' | translate }}</a></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
