<app-header></app-header>
<div class="login-background">
  <div class="login-overlay" (click)="close()">
    <div class="login-container" (click)="$event.stopPropagation()">
      <button class="close-btn" (click)="close()">×</button>
      <img src="assets/images/emblem.png" alt="Logo" class="login-logo">
      <!-- Add the text below the logo -->
      <p class="country-name">The United Republic of Tanzania</p>

      <form [formGroup]="LoginForm" (ngSubmit)="OnSubmit()">
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Enter your username" type="text" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width custom-input">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Enter your password" type="password" required>
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" class="login-btn">Login</button>
        </div>
      </form>
      <div class="register-link">
        <p>Do not have an account? <a href="/register">Register</a></p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
