// .heading {
//   margin: 0;
//   padding: 0px;
//   background-color: black;
//   color: white;
// }

// .heading > h1 {
//   padding: 20px;
//   margin: 0;
// }

mat-toolbar {
  // background-color: #3f51b5 !important;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.profile-icon {
  color: white !important; /* Ensures the icon remains white */

}

