<div class="reset-password-container">
  <form  class="reset-password-form mat-elevation-z4">
    <h6 class="title">Enter your email below to receive a password resetlink.</h6>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>New Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Enter new password"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Confirm new password"
        required
      />
    </mat-form-field>

    <button mat-raised-button color="primary" class="submit-button" type="submit">
      Reset Password
    </button>
  </form>
</div>
