.spacer {
  flex: 1 1 auto;
}

button {
  margin: 0 10px;
}

mat-toolbar {
  box-shadow: none; /* Remove any border */
  background-color: rgba(249, 245, 245, 0.982);
}

.elfsight-app-dfc68b9e-bb1a-4060-a57a-bf22802f801e {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
