<div class="dashboard-cards-container">
  <div class="dashboard-cards">
    <mat-card class="dashboard-card borrowed">
      <div class="card-icon"><mat-icon>chat</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Borrowed</p>
        <h3>$62,007.00</h3>
        <p class="card-footer">48% target reached</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card profit">
      <div class="card-icon"><mat-icon>attach_money</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Annual Profit</p>
        <h3>$1,958,104.00</h3>
        <p class="card-footer">55% target reached</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card conversion">
      <div class="card-icon"><mat-icon>trending_up</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Lead Conversion</p>
        <h3>$234,769.00</h3>
        <p class="card-footer">87% target reached</p>
      </div>
    </mat-card>

   
  </div>
</div>
