<div class="dashboard-cards-container" @cardStagger>
  <div class="dashboard-cards">
    <!-- Cards -->
    <mat-card class="dashboard-card borrowed" (click)="OpenAvailableSpaces()">
      <div class="card-icon"><mat-icon>group</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Openspace</p>
        <p class="card-footer">{{ totalOpenspaces }} Available Openspace</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card profit" (click)="OpenSolvedIssues()">
      <div class="card-icon"><mat-icon>check_circle</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Solved issues</p>
        <p class="card-footer">{{ totalHistorys }} Solved</p>
      </div>
    </mat-card>

    <mat-card class="dashboard-card conversion" (click)="OpenPendingIssues()">
      <div class="card-icon"><mat-icon>hourglass_empty</mat-icon></div>
      <div class="card-info">
        <p class="card-title">Pending issues</p>
        <p class="card-footer"> {{ totalReport }} Pending</p>
      </div>
    </mat-card>
  </div>

  <div class="recent-reports">
  <h2 class="title">Recent Reports</h2>
  <table mat-table [dataSource]="recentReports" class="custom-table mat-elevation-z8">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> OPENSPACE </th>
      <td mat-cell *matCellDef="let report"> {{report.spaceName}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> STATUS </th>
      <td mat-cell *matCellDef="let report">
        <span class="status pending">Pending</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let report"> {{report.createdAt | date:'short'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="fade-in-row"></tr>
  </table>
</div>
</div>
