/* Sidebar Container */
.sidebar-container {
  width: 140px; /* Set the width of the sidebar */
  height: 100%;
  background-color: #3f51b5;
  color: white;
  padding-top: 20px;
}

/* Sidebar */
.sidenav {
  width: 60px; /* Adjust the width here for a smaller sidebar */
  height: 100%;
  background-color: #3f51b5;
  color: white;
  padding-top: 20px;
}

/* Sidebar Links */
.mat-nav-list {
  width: 100%;
}

/* Adjust link padding to make it look consistent */
.mat-nav-list a {
  color: white;
  text-decoration: none;
  padding: 8px 12px; /* Reduce padding for smaller sidebar */
  display: flex;
  padding-right: 0;
  align-items: center;
  justify-content: center;
}

/* Hover effect */
.mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Icon Styling */
.mat-list-item .mat-icon {
  font-size: 18px; /* Smaller icons for narrow sidebar */
  margin-right: 10px; /* Space between icon and text */
}

/* Adjust list item padding */
.mat-list-item {
  padding: 10px 0; /* Adjust padding for tighter layout */
}

@media (max-width: 768px) {
  /* Hide text on smaller screens */
  .mat-nav-list a span {
    display: none;
  }
}
