<mat-toolbar class="sidebar-header">
  <mat-icon class="profile-icon">account_circle</mat-icon>
  <span>Admin Panel</span>
</mat-toolbar>

<mat-nav-list>
  <a mat-list-item routerLink="/admin">
    <mat-icon class="colored-icon">dashboard</mat-icon>
    Dashboard
  </a>
  <a mat-list-item routerLink="/admin/users">
    <mat-icon class="colored-icon">group</mat-icon>
    Users
  </a>
  <a mat-list-item routerLink="/admin/map">
    <mat-icon class="colored-icon">map</mat-icon>
    Map
  </a>
  <a mat-list-item routerLink="/admin/reports">
    <mat-icon class="colored-icon">assessment</mat-icon>
    Reports
  </a>
  <a mat-list-item routerLink="/admin/settings">
    <mat-icon class="colored-icon">settings</mat-icon>
    Settings
  </a>
  <a mat-list-item routerLink="/admin/logout">
    <mat-icon class="colored-icon">exit_to_app</mat-icon>
    Logout
  </a>
</mat-nav-list>
