<div class="container">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="20px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <img src="assets/images/openspace.png" alt="Open Space" class="icon">
        <mat-card-title>Open Space</mat-card-title>
        <mat-card-content>
          <p>Report illegal use of open space</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card">
        <img src="assets/images/openspace.png" alt="Book Open Space" class="icon">
        <mat-card-title>Book Open Space</mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
