.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 90vh; /* Full viewport height */
}

.cards-wrapper {
  display: flex;
  gap: 60px; /* Space between cards */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 15px; /* Reduce padding to decrease height */
  width: 280px; /* Adjust width */
  height: 250px; /* Reduce height */
  overflow: hidden; /* Ensure content stays inside */
}

.icon {
  width: 90px; /* Reduce image size */
  height: 90px;
  object-fit: contain; /* Ensure the image fits properly */
  margin-bottom: 10px; /* Space between image and text */
}

mat-card-title, mat-card-content {
  font-size: 14px; /* Adjust text size if needed */
  word-wrap: break-word; /* Ensure text does not overflow */
}
