/* General Layout */
.sidenav-container {
  height: 90vh;
  background-image: url('https://www.mof.go.tz/site/images/emblem.png');
  background-size: 800px;
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -20px;
  margin-left: 30px;
  background-color: rgba(244, 246, 249, 0.9); /* Light overlay for readability */
}

/* Header Bar */
.header-bar {
  width: 96.5%;
  padding: 30px;
  background-color: #ab0d76;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
}

/* Dashboard Header */
h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0;
}

/* Statistics Section */
.stats-container {
  display: flex;
  gap: 15px;
}

.stat-card {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  font-size: 24px;
  color: #1e293b;
}

/* Chart Section */
.chart-section {
  margin: 30px 0;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
  }
}

/* Chart Container */
.chart-container {
  width: 300px;
  height: 300px;
  margin: auto;
}
