<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav mode="side" opened class="sidenav">
    <app-admin-sidebar></app-admin-sidebar>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <app-admin-header></app-admin-header>
    <div class="table-container">
      <h2 class="table-title">Open Spaces</h2>

      <table mat-table [dataSource]="openSpaces" class="mat-elevation-z8 custom-table">


        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let space"> {{ space.name }} </td>
        </ng-container>

        <!-- District Column -->
        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef> District </th>
          <td mat-cell *matCellDef="let space"> {{ space.district }} </td>
        </ng-container>

        <!-- Latitude Column -->
        <ng-container matColumnDef="latitude">
          <th mat-header-cell *matHeaderCellDef> Latitude </th>
          <td mat-cell *matCellDef="let space"> {{ space.latitude }} </td>
        </ng-container>

        <!-- Longitude Column -->
        <ng-container matColumnDef="longitude">
          <th mat-header-cell *matHeaderCellDef> Longitude </th>
          <td mat-cell *matCellDef="let space"> {{ space.longitude }} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let space">
            <button mat-icon-button color="primary" (click)="editOpenSpace()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteOpenSpace(space.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <span>{{ space.id }}</span>  <!-- Debugging: Display ID next to delete button -->
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-sidenav-content>

  <app-admin-footer></app-admin-footer>
</mat-sidenav-container>
