<header class="header">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Logo">
  </div>

  <div class="title">
    KINONDONI MUNICIPAL OPEN SPACE MANAGEMENT SYSTEM
    <h5>This is a platform that will help people report unusual activities to the environment and allow them to book areas for events</h5>
  </div>

  <!-- Hamburger Menu Button (Appears on Small Screens) -->
  <button class="menu-btn" (click)="toggleMenu()">☰</button>

  <!-- Navigation Buttons -->
  <nav [class.active]="menuOPen">
    <button class="create-account" (click)="NavigateToHome()">Home</button>
  </nav>
</header>
