/* You can add global styles to this file, and also import other style files */

@use 'theme/custom-theme' as *;

body {
  font-family: 'Poppins', sans-serif;
}

// @import '@angular/material/prebuilt-themes/indigo-pink.css';


mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: lightseagreen !important;
}

.mat-input-element {
  font-size: 16px !important;
  padding: 12px !important;
  color: #333 !important;
}

.mat-form-field-label {
  color: lightseagreen !important;
}

/* Global Styles to target mat-form-field input in all components */
/* Global styles for all mat-form-field inputs */
.mat-form-field.custom-input input.ng-touched.ng-valid {
  color: green !important;
}

.mat-form-field.custom-input input.ng-touched.ng-invalid {
  color: red !important;
}


.swal2-actions {
  display: flex;
  justify-content: space-between; /* Distribute the buttons evenly */
  gap: 20px; /* Adjust the gap between the buttons */
}

.swal2-confirm, .swal2-cancel {
  padding: 10px 20px; /* Adjust the padding for the buttons if necessary */
}


// Style the success toast
.toast-success {
  background-color: white !important;
  color: #4CAF50 !important; // optional: green text
  border-left: 5px solid #4CAF50; // visual accent

  .toast-progress {
    background-color: #4CAF50 !important; // green progress bar
  }
}
