/* You can add global styles to this file, and also import other style files */


body {
  font-family: 'Poppins', sans-serif;
}


mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: lightseagreen !important;
}

.mat-input-element {
  font-size: 16px !important;
  padding: 12px !important;
  color: #333 !important;
}

.mat-form-field-label {
  color: lightseagreen !important;
}

/* Global Styles to target mat-form-field input in all components */
/* Global styles for all mat-form-field inputs */
.mat-form-field.custom-input input.ng-touched.ng-valid {
  color: green !important;
}

.mat-form-field.custom-input input.ng-touched.ng-invalid {
  color: red !important;
}

