<div class="map-wrap">
  <!-- Back Button -->
  <button class="back-btn" (click)="goBack()">⬅</button>

  <!-- Buttons for Admin Actions -->
  <div class="admin-controls">
    <button class="add-btn" (click)="enableAddingMode()">➕</button>
  </div>

  <div class="coordinates">
    <p *ngIf="clickedLat && clickedLng">
      Lat: {{ clickedLat.toFixed(6) }}, Lng: {{ clickedLng.toFixed(6) }}
    </p>
  </div>


  <!-- Pop-up Form -->
  <div class="admin-form-container" *ngIf="showForm">
    <button class="close-btn" (click)="closeForm()">✖</button>
    <h2>Add Open Space</h2>
    <form [formGroup]="addOpenspace" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Openspace Name" [(ngModel)]="region">
    <input type="text" placeholder="Latitude" [(ngModel)]="lat">
    <input type="text" placeholder="Longitude" [(ngModel)]="lng">
    <select id="district" [(ngModel)]="district" required placeholder="District">
      <option value="" disabled selected>Select District</option>
      <option *ngFor="let d of districts" [value]="d">{{ d }}</option>
    </select>
    <button class="submit-btn">Submit</button>
  </form>
  </div>

  <div class="map" #map></div>
</div>
