<mat-toolbar class="heading">
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>brightness_6</mat-icon> <!-- Theme Toggle -->
  </button>

  <!-- Profile Icon (Left) with Dropdown Menu -->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="onProfile()">
      <mat-icon>person</mat-icon> Profile
    </button>
    <button mat-menu-item (click)="openReportAnonymous()">
      <mat-icon>report</mat-icon> My Report
    </button>
    <button mat-menu-item (click)="onYourReport()">
      <mat-icon>assignment</mat-icon> Report History
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon class="profile-icon">account_circle</mat-icon>
  </button>

  <!-- Title in Center -->
  <span class="title">Kinondoni Municipal</span>

  <!-- Register Button for Anonymous Users -->
  <ng-container *ngIf="isAnonymous">
    <button mat-button class="register-button" (click)="onRegister()">Register</button>
  </ng-container>

  <!-- Emblem Icon on the Right -->
  <mat-icon class="profile-icon">verified</mat-icon>
</mat-toolbar>
