<mat-toolbar class="heading">
  <button mat-icon-button>
    <mat-icon>brightness_6</mat-icon> <!-- Theme Toggle -->
  </button>

  <!-- Profile Icon (Left) with Dropdown Menu -->
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon> Available Openspace
    </button>
    <button mat-menu-item>
      <mat-icon>report</mat-icon> Recent Booking
    </button>
    <button mat-menu-item>
      <mat-icon>assignment</mat-icon>Upload Agreement
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon class="profile-icon">account_circle</mat-icon>
  </button>

  <span class="title">Kinondoni Municipal</span>
  <mat-icon class="profile-icon">verified</mat-icon>
</mat-toolbar>
